/* This file will only apply when screen width is 600px or greater */

/* Navigation Menu for large screens */
#hamburgerBtn {
    display: none; /* Hide hamburger button on large screens */
}

nav {
    display: flex !important; /* Always display nav on large screens */
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    padding: 1rem;
    border: none;
}

/* Header layout for large screens */
header {
    padding: 0 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Temple Grid for large screens */
.temple-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}